.button {
	outline: none;
	cursor: pointer;

	border-image: none;
	border-width: 1px;
	border-style: solid;
	border-radius: 20px;
	color: #fff;
	border-color: blueviolet;
	background: blueviolet;

	font-size: 1rem;

	padding: 8px 16px;

	transition: 0.15s ease-out;
}

.button:focus,
.button:hover {
	background-color: #6c10c2;
	border-color: #6c10c2;
}
