:root {
	--primary-color: #6cc092;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

/* Container */
.container {
	width: 75%;
	margin: 0 auto;
}

/* Button */

.button {
	border-image: none;
	outline: none;
	background-color: transparent;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	font-size: 0.63rem;
	font-weight: normal;
	padding: 0.7rem 2rem;
	border-radius: 1.15rem;
	margin-top: 1.5rem;
	cursor: pointer;
	letter-spacing: 1px;
	transition: background-color 0.25s ease-out;
}

.button:hover {
	background-color: var(--primary-color);
	color: #fff;
}

/* Hamburger */
.hamburger {
	cursor: pointer;
	width: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 12px;
}

.hamburger .line {
	width: 100%;
	height: 2px;
	background-color: #fff;
}

.hamburger .line:not(:last-of-type) {
	margin-bottom: 4px;
}

/* Landing */
#landing {
	height: 85vh;
	background: linear-gradient(rgb(7 26 38 / 83%), rgb(7 26 38 / 78%)),
		url("https://wallpapercave.com/wp/omGOtNv.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}

.landing-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
	height: 5rem;
}

.landing-header .logo {
	font-weight: bold;
	font-size: 0.9rem;
}

.landing-nav .landing-menu {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.landing-menu-item a {
	display: block;
	padding: 5px 10px;
	font-size: 0.9rem;
	color: #fff;
	text-decoration: none;
}

.landing-header .side-nav {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	width: 45%;
	height: 100%;
	background-color: var(--primary-color);
	padding: 1rem 2rem 0rem 1rem;
}

.side-nav .close {
	text-align: right;
	cursor: pointer;
	line-height: 100%;
}

.side-nav .close span {
	font-weight: bold;
}

.side-nav .side-nav-menu {
	list-style-type: none;
}

.side-nav-menu .side-nav-menu-item:not(:last-of-type) {
	border-bottom: 1px solid #ccc;
}

.side-nav-menu .side-nav-menu-item a {
	display: block;
	text-decoration: none;
	color: #ffffffe1;
	font-size: 1.2rem;
	font-weight: 300;
	padding: 0.6rem 0.4rem;
}

.side-nav-menu .side-nav-menu-item a:hover {
	color: #fff;
}

.landing-header .hamburger {
	display: none;
}

.landing-content {
	height: calc(100% - 5rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.landing-content h1 {
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 1rem;
	line-height: 100%;
}

.landing-actions {
	display: flex;
	justify-content: center;
	margin: 2rem 0rem;
}

.landing-actions .icon span {
	color: var(--primary-color);
	font-size: 2rem;
}

.landing-actions .action {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 4rem;
}

.landing-actions .action:not(:last-of-type) {
	border-right: 1px solid #888888;
}

.action h4 {
	font-weight: 400;
	margin-bottom: 5px;
}

.action small {
	font-size: 0.65rem;
	color: #ccc;
	text-align: center;
}

.landing-content .cta-button {
	font-size: 0.75rem;
	padding: 0.6rem 2rem;
	border-radius: 1.1rem;
	margin-top: 1.5rem;
	letter-spacing: 1px;
}

/* Key Features  */
#key-features {
	padding: 3rem 0rem;
}

.features {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.feature {
	padding: 1rem 3rem;
	text-align: center;
}

.feature .image {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	object-fit: cover;
}

.feature h3 {
	margin: 1rem 1rem 2rem 1rem;
	font-weight: 400;
}

.feature p {
	font-size: 0.65rem;
	color: #777;
}

.feature .action-btn {
	font-size: 0.63rem;
	padding: 0.7rem 2rem;
	border-radius: 1.15rem;
	margin-top: 1.5rem;
	letter-spacing: 1px;
}

@media (max-width: 768px) {
	/* Landing */

	#landing .landing-nav {
		display: none;
	}

	.landing-header .side-nav.d-block {
		display: block;
	}

	#landing .hamburger {
		display: block;
	}

	/* Key Features */
	#key-features .features {
		flex-wrap: wrap;
	}
}

@media (max-width: 500px) {
	/* Landing */

	.landing-content .landing-actions {
		flex-direction: column;
		margin: 1rem 0rem;
	}

	.landing-actions .action:not(:last-of-type) {
		border: none;
		margin-bottom: 1rem;
	}

	.landing-actions .action {
		padding: 0 3rem;
	}

	.landing-header .side-nav {
		width: 60%;
	}
}
