.cart {
	padding: 1.5rem;
}

.loading {
	/* Works with respect(relative) to fixed positioned Modal Parent*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 10;

	background-color: rgba(0, 0, 0, 0.45);

	/* color: #fff; */
}

.orderPlaced {
	text-align: center;
	font-size: 1.2rem;
}

.orderPlaced > span {
	color: brown;
	font-size: 1.25rem;
}

.items {
	font-size: 1rem;
}

.items__fallback {
	margin-bottom: 1rem;
	text-align: center;

	font-size: 1.5rem;
	font-weight: 600;
}

.totalPrice {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: 1rem;
	/* border-top: 1px solid gray; */

	font-size: 1.1rem;
	color: brown;
	font-weight: 600;

	margin-bottom: 1rem;
}

.actions {
	margin-right: -1rem;
	text-align: right;
}

.cart button,
.actions button {
	border-radius: 16px;
}
