.counter {
	width: 40rem;
	max-width: 95%;
	margin: 5rem auto;

	background-color: #f4f0fa;
	border-radius: 8px;
	text-align: center;

	padding: 1rem;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.counter h1 {
	text-transform: uppercase;
	color: #575757;
	margin: 0;
	font-size: 1rem;
}

.value {
	font-size: 2rem;
	color: #3c0080;
	margin: 2rem 0;
	font-weight: bold;
}

.actions {
	padding: 1rem;
}

.actions button {
	margin-right: 1rem;
}
