.new-expense {
	width: 50rem;
	max-width: 95%;

	margin: 2rem auto 1rem auto;
	padding: 2rem 1rem;

	background-color: plum;
	text-align: center;
}

.new-expense__cta {
	outline: none;
	border-image: none;
	background-color: #770077;
	border: 1px solid plum;
	border-radius: 6px;
	padding: 10px 14px;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
}
