:root {
	--primary-color: #79b531;
	--secondary-color: #619127;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

button {
	font-family: "Open Sans", sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.hamburger {
	display: none;
	width: 25px;
	cursor: pointer;
}

.hamburger .line {
	width: 100%;
	height: 2px;
	border-radius: 6px;
	background: #fff;

	transition: 0.25s ease;
}

.hamburger .line:not(:last-of-type) {
	margin-bottom: 5px;
}

.hamburger:hover .line:nth-child(2) {
	transform: translateX(8px);
}

/* Top HEADER */

.top-header {
	padding: 0.5rem 0rem;
	background: #f8f8f8;
}

.top-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-nav .hamburger {
	display: none;
}

.top-links-menu,
.top-icons-menu {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.top-links-menu {
	flex: 1;
	margin: 0 -6px;
}

.top-icons-menu {
	margin: 0 -10px;
}

.top-links-menu-item {
	position: relative;
}

.top-links-menu-item:not(:last-of-type)::after {
	display: block;
	content: "";
	height: 100%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 0;
	background: #b1aead;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.top-links-menu-item,
.top-icons-menu-item {
	white-space: nowrap;
}

.top-links-menu-item a {
	display: block;
	padding: 2px 6px;
	text-decoration: none;
	font-size: 0.6rem;
	color: #b1aead;
}

.top-icons-menu-item a {
	display: block;
	padding: 4px 10px;
	text-decoration: none;
	font-size: 0.75rem;
	color: var(--primary-color);
}

/* Main Header */

.main-header {
	padding: 1.2rem 0rem;
}

.main-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.logo .icon i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.logo .company {
	margin: 0rem 0.5rem 0rem 0.625rem;
}

.logo h3 {
	color: var(--primary-color);
}

.logo p {
	font-size: 0.75rem;
}

.contacts-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 0.9;
}

.contacts {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.contacts-list .phone-email,
.contacts-list .location {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 0.75rem;
	color: black;
}

.contacts-list .phone-email span,
.contacts-list .location span {
	color: var(--primary-color);
	font-size: 1.3rem;
	padding: 0.5rem 0.8rem;
}

.contacts-list .apply-now-btn {
	display: inline-block;
	padding: 0.625rem 1.2rem;
	font-size: 0.875rem;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	text-decoration: none;
	font-family: inherit;
	line-height: 100%;
	white-space: nowrap;
	margin-left: 0.5rem;
}

.contacts-list .apply-now-btn:hover {
	background-color: var(--primary-color);
	color: #fff;
}

/* Header */

.header {
	background: var(--primary-color);
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav .hamburger {
	display: none;
}

.header-links-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style-type: none;

	margin: 0 -12px;
}

.header-links-menu li:hover {
	background-color: #608f26;
}

.header-links-menu-item a {
	cursor: pointer;
	display: block;
	text-decoration: none;
	text-align: center;

	color: #fff;
	font-size: 0.625rem;
	font-weight: bold;
	padding: 8px 12px;
}

.search {
	display: flex;
	align-items: center;
	margin-left: 26px;
}

.search i {
	font-size: 0.75rem;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

/* Mobile Navs */
.mobile-nav {
	position: fixed;
	top: -100%;
	left: 0%;
	width: 100%;
	height: 100vh;
	opacity: 0;

	background-color: #fff;

	overflow-y: scroll;
	transition: 0.25s ease-in;
	padding: 2rem;
}

.mobile-nav.is-active {
	top: 0;
	opacity: 1;
}

.mobile-nav .close-btn {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;

	float: right;
	font-size: 1.1rem;
	color: #999;
}

.mobile-nav .close-btn:hover {
	color: black;
}

.mobile-nav .mobile-menu {
	list-style-type: none;
	/* clear: both; */
}

.mobile-menu li {
	border-bottom: 1px solid #eee;
	color: #999;
	transition: 0.25s ease-out;
}

.mobile-nav li:hover {
	color: #000;
}

.mobile-menu a {
	display: block;
	text-decoration: none;

	font-size: 1rem;
	padding: 8px 16px;

	color: inherit;
}

/* Landing Content */

.landing-content {
	background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.445)),
		url("./assets/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 55vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.landing-content .content {
	color: #fff;
	width: 35%;
	margin: 2rem 0rem;
	text-align: center;
}

.content h1 {
	white-space: pre-wrap;
	text-align: center;
	font-size: 1.8rem;
}

.content p {
	font-size: 0.81rem;
	text-align: center;
	margin: 1rem 0rem;
}

.cta {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cta-btn {
	outline: none;
	border-image: none;
	padding: 0.5rem 0.85rem;
	border-width: 1px;
	border-style: solid;
	color: #fff;
	cursor: pointer;
}

.cta-btn:not(:last-of-type) {
	margin-right: 0.5rem;
}

.cta-btn.filled {
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.cta-btn.filled:hover {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}

.cta-btn.outlined {
	background-color: transparent;
	border-color: #fff;
}

.cta-btn.outlined:hover {
	background: var(--secondary-color);
	border-color: var(--secondary-color);
}

/* Key Features Section */
/* .key-features {} */

.card-items {
	display: flex;
	justify-content: space-between;
	margin-top: -3rem;
}

.card-item {
	padding: 1rem;
	color: #fff;
	text-align: center;
}

.card-item .icon > span {
	font-size: 2rem;
	margin: 0.2rem 0rem 0.4rem 0rem;
}

.card-item h3 {
	margin: 0.31rem;
	font-size: 0.9rem;
}

.card-item p {
	font-size: 0.75rem;
}

/* Media Queries */
@media (max-width: 1024px) {
	.container {
		width: 90%;
	}

	/* Top Header */
	.top-header .top-nav {
		flex-direction: column;
	}

	.top-nav .top-icons-menu {
		margin-top: 0.2rem;
	}

	.top-links-menu-item a {
		font-size: 0.625rem;
	}

	/* Main Header */

	.main-header {
		padding: 0.6rem 0rem;
	}

	.contacts {
		justify-content: flex-end;
	}

	.contacts .phone-email-detail,
	.contacts .location-detail {
		display: none;
	}

	.main-header .contacts-list {
		flex: 0.9;
	}

	/* Header */

	.header {
		padding: 0;
	}

	.header-links-menu,
	.search {
		margin: 0 -0.4rem;
	}

	.header-links-menu-item {
		display: flex;
		align-items: center;
	}

	.header-links-menu-item a,
	.search i {
		padding: 0.5rem 0.4rem;
		font-size: 0.6rem;
	}

	.search i {
		margin-left: calc(10px + 0.4rem);
	}

	/* Landing Content */
	.landing-content .content {
		width: 45%;
	}

	/* Key Features */
	.key-features .card-items {
		flex-wrap: wrap;
	}

	.card-items .card-item {
		width: 50%;
	}
}

@media (max-width: 768px) {
	/* Top Header */

	.top-header {
		position: relative;
	}

	.top-header .top-nav {
		flex-direction: row;
		justify-content: space-between;
	}

	.top-nav.d-block {
		display: block;
	}

	.top-nav .hamburger {
		display: block;
	}

	.top-nav .hamburger .line {
		background: black;
	}

	.top-links-menu {
		display: none;
	}

	.top-links-menu.d-block {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #f8f8f8;
		padding: 0 5% 0.5rem 5%;
		z-index: 1;
	}

	/* Remove the after in small screen sizes if menu is block */

	.top-links-menu.d-block .top-links-menu-item::after {
		display: none;
	}

	.top-icons-menu.d-none {
		display: none;
	}

	/* Header */

	.header {
		position: relative;
	}

	.header-nav.d-block {
		display: block;
	}

	.header-nav .hamburger {
		display: block;
	}

	.header-links-menu {
		display: none;
	}

	.header-links-menu.d-block {
		display: block;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		background-color: var(--primary-color);
		padding: 0 5% 0.5rem 5%;
	}

	.search.d-none {
		display: none;
	}

	.search i {
		font-size: 0.8rem;
	}

	/* Landing Content */
	.landing-content .content {
		width: 60%;
	}
}

@media (max-width: 550px) {
	/* Main Header */
	.top-links-menu.d-block {
		/* padding-left: 1rem; */
	}

	/* Reducing the logo font size */

	.logo .icon i {
		font-size: 1.2rem;
	}
	.logo .company h3 {
		font-size: 1.1rem;
	}
	.logo .company p {
		font-size: 0.65rem;
	}

	/* Reducing the padding of phone & location */
	.contacts-list .phone-email span,
	.contacts-list .location span {
		padding: 0.4rem 0.2rem;
		font-size: 1rem;
	}

	.contacts-list .apply-now-btn {
		font-size: 0.8rem;
		padding: 0.45rem 0.875rem;
		margin-left: 0.2rem;
	}

	/* Header */
	.header-links-menu.d-block {
		/* padding-left: 1rem; */
	}

	/* Landing Content */

	.landing-content {
		height: 65vh;
	}

	.landing-content .content {
		width: 90%;
	}

	/* Key Features */

	.card-items .card-item {
		width: 100%;
	}
}

@media (max-width: 350px) {
	/* Main Header */
	.logo .company h3 {
		font-size: 0.95rem;
	}
	.logo .company p {
		font-size: 0.6rem;
	}

	.contacts-list .phone-email span,
	.contacts-list .location span {
		padding: 0.4rem 0.2rem;
	}

	.contacts-list .apply-now-btn {
		font-size: 0.8rem;
		padding: 0.45rem 0.875rem;
		margin-left: 0.2rem;
	}

	/* Landing Content */
	.landing-content .content {
		width: 95%;
	}

	.cta .cta-btn {
		font-size: 0.8rem;
		padding: 0.4rem 0.65rem;
	}
}
