.card-wrapper {
	padding: 1rem;
}

.form-control {
	margin-bottom: 1rem;
}

.form-control label {
	display: inline-block;
	margin-bottom: 3px;

	font-size: 0.9rem;
	font-weight: 500;
}

.form-control input {
	outline: none;

	border-image: none;
	border: 1px solid black;
	border-radius: 4px;

	width: 100%;

	padding: 4px 8px;

	font-size: 0.95rem;
}

.form-actions {
	/* margin-bottom: 1rem; */
}

.form-actions button {
	margin-right: 1rem;
}
