* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

#signup-form {
	width: 600px;
	max-width: 95%;
	margin: 3rem auto;

	border: 1px solid #ccc;
	border-radius: 7px;

	padding: 1rem;
}

#signup-form h3 {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}

.form-control {
	margin-bottom: 1rem;
}

.form-control > label {
	font-weight: 600;
	display: inline-block;
	font-size: 0.9rem;
	margin-bottom: 3px;
}

.form-control > input {
	outline: none;
	border-image: none;

	padding: 5px 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 0.95rem;

	width: 100%;
}

.form-control > input:active,
.form-control > input:focus {
	background-color: #eee;
}

.form-actions > button {
	outline: none;
	border-image: none;

	padding: 8px 16px;
	font-size: 1rem;
	color: #555;
	background-color: #ccc;
	margin-right: 1rem;

	cursor: pointer;

	border: 1px solid #ccc;
	border-radius: 4px;
}
