* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

.errors-list,
.success-list {
	margin-bottom: 1rem;
}

.errors-list .error,
.success-list .success {
	padding: 8px 12px;
	color: #000;
	/* background-color: #63a863; */
	font-size: 0.85rem;
	margin-bottom: 5px;
	border-radius: 4px;
}

.errors-list .error {
	background-color: #df7070;
}

.success-list .success {
	background-color: #77d177;
}

.form-control,
.form-actions {
	margin-bottom: 1rem;
}

.form-control > label {
	font-weight: 500;
	display: inline-block;
	font-size: 0.9rem;
	margin-bottom: 3px;
}

.form-control > input {
	outline: none;
	border-image: none;

	padding: 5px 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 0.95rem;

	width: 100%;
}

.form-control > input:active,
.form-control > input:focus {
	background-color: #eee;
}

.form-actions > button {
	outline: none;
	border-image: none;
	cursor: pointer;
	margin-bottom: 0.25rem;
}

.form-links {
	text-align: center;
}

.form-links .link {
	font-size: 0.9rem;
	color: #666;
}

.form-links .link > a {
	color: #f05959;
}
