<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
<div class="errors-list">
	<% for(let i = 0;i < errors.length;i++) { %>
	<div class="error"><%= errors[i].message %></div>
	<% } %>
</div>
<% } %> <% if (typeof success !== 'undefined' && success.length > 0) { %>
<div class="success-list">
	<% for(let i = 0;i < success.length;i++) { %>
	<div class="success"><%= success[i].message %></div>
	<% } %>
</div>
<% } %>
