.meals {
	width: 650px;
	max-width: 90%;
	margin: 2rem auto;

	animation: meals-appear 500ms ease-out forwards;
}

.meals ul {
	list-style-type: none;
}

@keyframes meals-appear {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
