<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>
	<body>
    <section id="welcome-page" >  
      <div>
        Error - Something went wrong!!
      </div>
      
    </section>

<%- include('includes/end.ejs') %>
