<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>
	<body>
    <section id="welcome-page" >  
      <div>
        Welcome
      </div>
      
      <a class="logout" href="/users/logout" >Logout</a>

    </section>

<%- include('includes/end.ejs') %>
